services:
  my_auth_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my_auth_api
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: always
